{% extends "template.html" %}
{% block conteudo %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-dark">
            <thead class="thead-default">
                <tr>
                    <th scope="col">Com FaleMais</th>
                    <th scope="col">Sem FaleMais</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ fale_mais.cost_of_call_with_plan() }}</td>
                    <td scope="row">{{ fale_mais.cost_of_call_without_plan() }}</td>
                </tr>
            </tbody>
        </table>
        <form action="{{ url_for('index') }}" method="GET">
    <button type="submit" class="btn btn-primary btn-salvar  btn-dark">Retornar</button>
        </form>
    </div>
{% endblock %}